useDynLib(nanoival)
import("methods")
import("Rcpp")
import("bit64")
import("nanotime")

exportMethods(intersect.idx)
exportMethods(union)
exportMethods(setdiff)
exportMethods(intersect)
exportMethods(as.nanoival)
export(nanoival)
exportMethods(start)
exportMethods(end)
exportMethods(sopen)
exportMethods(eopen)
exportMethods(print)
exportMethods(show)
exportMethods(names)
exportMethods("names<-")
exportMethods("<")
exportMethods("<=")
exportMethods(">")
exportMethods(">=")
exportMethods("-")
exportMethods("+")
exportMethods("[")
exportMethods("[<-")
S3method(c, nanoival)
exportMethods(t)
exportMethods(is.unsorted)
exportMethods(sort)
exportMethods(seq)
